@using WebQuanAo.Models; 
@{
    ViewBag.Title = "Body";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
    bodySave bS = ViewBag.bodySave;
}
<link rel="stylesheet" href="../Content/style-BodyForm.css">

<div class="Content">
    <!-- Đây Là Chỗ Để Render Body Khi Quăng Vào MVC -->
    <!-- Nó Sẽ Thay Đổi Dựa Theo Người Dùng Muốn Click Coi Gì -->
    <div class="container-fluid">
        <div class="row">
            <div class="Home col-lg-2 col-md-3 col-sm-5 col-10 fw-bold my-2 mx-3">Body</div>
        </div>
        <form action="#">
            <h2>Change Body</h2>
            <!-------------------------------->
            <label class="banner" for="banner1">Banner 1: </label> <input type="text" name="b1" id="text1" class="text-banner" value="@bS.b1"><br>
            <!-------------------------------->
            <label class="banner" for="banner2">Banner 2: </label> <input type="text" name="b2" id="text2" class="text-banner" value="@bS.b2"><br>
            <!-------------------------------->
            <label class="banner" for="banner3">Banner 3: </label> <input type="text" name="b3" id="text3" class="text-banner" value="@bS.b3"><br>
            <!-------------------------------->
            <label class="banner" for="banner4">Banner 4: </label> <input type="text" name="b4" id="text4" class="text-banner" value="@bS.b4"><br>
            <!-------------------------------->
            <label class="banner" for="banner5">Banner 5: </label> <input type="text" name="b5" id="text5" class="text-banner" value="@bS.b5"><br>
            <!-------------------------------->
            <div id="message" style="display:none; color:red;">
                Không được để trống banner.
            </div>

            <input value="SEND" type="submit" class="button mt-2" href="#" id="save" onclick="save()">
        </form>
    </div>
</div>

<script>
    function save() {
        var b1 = document.getElementById("text1").value;
        var b2 = document.getElementById("text2").value;
        var b3 = document.getElementById("text3").value;
        var b4 = document.getElementById("text4").value;
        var b5 = document.getElementById("text5").value;

        if (b1 === "" ||
            b2 === "" ||
            b3 === "" ||
            b4 === "" ||
            b5 === "") {
            document.getElementById("message").style.display = "block";
            return;
        } else {
            document.getElementById("save").setAttribute("href", "@Url.Action("Body")?b1=" + b1 + "&b2=" + b2 + "&b3=" + b3 + "&b4=" + b4 + "&b5=" + b5);
        }
    }
</script>
