@using WebQuanAo.Models;
@{
    ViewBag.Title = "ProductInfo";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
    List<productInfo> productInfo = ViewBag.productInfo;
    List<product> product = ViewBag.product;
    int pageIndex = ViewBag.page;

    int pCount = productInfo.Count/4;
    int pCountLeft = productInfo.Count % 4;
    if (pCountLeft != 0)
    {
        pCount += 1;
    }

}
<link rel="stylesheet" href="../Content/style-ProductForm.css">
<!--------------------------------------------------------------->
<div class="Content animated fadeIn">
    <!-- Đây Là Chỗ Để Render Body Khi Quăng Vào MVC -->
    <!-- Nó Sẽ Thay Đổi Dựa Theo Người Dùng Muốn Click Coi Gì -->
    <div class="container-fluid">
        <div class="row">
            <div class="Home col-lg-2 col-md-3 col-sm-5 col-10 fw-bold my-2 mx-3">Thông Tin Sản Phẩm</div>
            <div class="Home col-lg-2 col-md-3 col-sm-5 col-10 fw-bold my-2 mx-3" onclick="addProduct()" style="cursor:pointer">Add Product</div>
        </div>
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Ảnh</th>
                    <th scope="col">Tên Sản Phẩm</th>
                    <th scope="col">Size</th>
                    <th scope="col">Số Lượng</th>
                    <th scope="col">Giá</th>
                    <th scope="col">Thao Tác</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < 4; i++)
                {
                    if (pageIndex < pCount)
                    {
                        <tr>
                            <th scope="row">@productInfo[i + ((pageIndex-1) * 4)].id</th>
                            <td><img class="image" src="@product.Find(x=> x.id == productInfo[i + ((pageIndex-1) * 4)].id).srcImage" alt=""></td>
                            <td>@product.Find(x => x.id == productInfo[i + ((pageIndex - 1) * 4)].id).name</td>
                            <td>@productInfo[i + ((pageIndex - 1) * 4)].size</td>
                            <td>@productInfo[i + ((pageIndex - 1) * 4)].count</td>
                            <td>@string.Format("{0:#,##0}", productInfo[i + ((pageIndex - 1) * 4)].price).Replace(".0000", String.Empty) đ</td>
                            <td>
                                <a href="@Url.Action("EditProduct")?id=@productInfo[i + ((pageIndex-1) * 4)].id&size=@productInfo[i + ((pageIndex-1) * 4)].size">Chỉnh Sửa</a>
                                <a class="ml-1" href="@Url.Action("RemoveProDuctinfo","Admin", new { productInfo[i + ((pageIndex-1) * 4)].id , productInfo[i + ((pageIndex-1) * 4)].size})">Xóa</a>
                            </td>
                        </tr>
                    }
                    else if (pageIndex == pCount)
                    {
                        if ((i + 1) <= pCountLeft)
                        {
                            <tr>
                                <th scope="row">@productInfo[i + ((pageIndex - 1) * 4)].id</th>
                                <td><img class="image" src="@product.Find(x=> x.id == productInfo[i + ((pageIndex-1) * 4)].id).srcImage" alt=""></td>
                                <td>@product.Find(x => x.id == productInfo[i + ((pageIndex - 1) * 4)].id).name</td>
                                <td>@productInfo[i + ((pageIndex - 1) * 4)].size</td>
                                <td>@productInfo[i + ((pageIndex - 1) * 4)].count</td>
                                <td>@string.Format("{0:#,##0}", productInfo[i + ((pageIndex - 1) * 4)].price).Replace(".0000", String.Empty) đ</td>
                                <td>
                                    <a href="@Url.Action("EditProduct")?id=@productInfo[i + ((pageIndex-1) * 4)].id&size=@productInfo[i + ((pageIndex-1) * 4)].size">Chỉnh Sửa</a>
                                    <a class="ml-1" href="@Url.Action("RemoveProDuctinfo","Admin", new { productInfo[i + ((pageIndex-1) * 4)].id , productInfo[i + ((pageIndex-1) * 4)].size})">Xóa</a>
                                </td>
                            </tr>
                        }
                    }

                }

            </tbody>
        </table>

        <!-- Thêm Giao Diện Của Tính Năng Phân Trang -->
        <nav aria-label="...">
            <ul class="pagination">
                @if (pageIndex == 1)
                {
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Trước</a>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link"  tabindex="-1" aria-disabled="true"  onclick="goPage((@pageIndex - 1))">Trước</a>
                    </li>
                }

                @for (int i = 0; i < pCount; i++)
                {
                    if (pageIndex == i + 1)
                    {
                        <li class="page-item active">
                            <a class="page-link" href="#" >@(i + 1)</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link" onclick="goPage(@(i + 1))">@(i + 1)</a>
                        </li>
                    }
                }

                @if (pageIndex == pCount)
                {
                    <li class="page-item disabled">
                        <a class="page-link" tabindex="-1" aria-disabled="true" >Sau</a>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link" tabindex="-1" aria-disabled="true"  onclick="goPage((@pageIndex + 1))">Sau</a>
                    </li>
                }               

            </ul>
        </nav>
    </div>
</div>

<script>
    function addProduct() {
            location.href = window.location.protocol + "//" +window.location.host +"@Url.Action("EditProduct")";
    }

    function goPage(id) {
         location.href = window.location.protocol + "//" +window.location.host +"@Url.Action("ProductInfo")?page="+id;
    }
</script>

