@using WebQuanAo.Models;
@{
    ViewBag.Title = "BilHistory";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<cart> cart = ViewBag.cart;
    account acc = ViewBag.acc;
    List<cardInfo> cartInfo = ViewBag.cartInfo;
}
<link rel="stylesheet" href="~/Content/style-BillHistory.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">

<div class="bill-history mt-5 animated fadeIn">
    <h4 class=" mb-4">Lịch Sử Thanh Toán</h4>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tên Khách</th>
                <th scope="col">Số Điện Thoại</th>
                <th scope="col">Khu Vực</th>
                <th scope="col">Ngày Đặt Hàng</th>
                <th scope="col">Ngày Giao Hàng</th>
                <th scope="col">Tổng Tiền</th>
                <th scope="col">Thao Tác</th>
            </tr>
        </thead>
        <tbody>
            @if (cart.Count == 0)
            {
                <tr>
                    Không có lịch sử đơn hàng!
                </tr>
            }
            else
            {
                for (int i = 0; i < cart.Count; i++)
                {
                    decimal total = 0;
                    List<cardInfo> cartF = cartInfo.Where(x => x.idCart == cart[i].idCart).ToList();
                    foreach (cardInfo cF in cartF)
                    {
                        total += cF.price * cF.count;
                    }
                    <tr>
                        <th scope="row">@(i+1)</th>
                        <td>@acc.name</td>
                        <td>@acc.phone</td>
                        <td>@acc.location</td>
                        <td>@cart[i].ngaydathang.ToString("dd/MM/yyyy")</td>
                        <td>@cart[i].ngaygiao.ToString("dd/MM/yyyy")</td>
                        <td>@string.Format("{0:#,##0}", total).Replace(".0000", String.Empty) đ</td>
                        <td><a href="@Url.Action("BillInfoHistory","Home")?id=@cart[i].idCart">Xem Chi Tiết</a></td>
                    </tr>
                }
            }

        </tbody>
    </table>
</div>

