@using WebQuanAo.Models;
@{
    ViewBag.Title = "BillInfoHistory";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<cardInfo> cartI = ViewBag.cartsI;
    List<product> pList = ViewBag.pList;
    cart cart = ViewBag.cart;
}
<link rel="stylesheet" href="~/Content/style-BillInfoHistory.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">

<div class="bill-info-history mt-5 animated fadeIn">
    <h4 class=" mb-4">
        <a href="@Url.Action("BilHistory","Home")">Lịch Sử Thanh Toán</a> / <a href="#">Hóa Đơn @(cart.idCart+1)</a>
    </h4>
    <!-- Ý dòng h4 này của tôi là khi người dùng click vào chi tiết của 1 hóa đơn
     thì nó sẽ chuyển sang trang này và h4 nó sẽ hiện cụ thể là mình click vào
     chi tiết đơn hàng của Hóa Đơn 1-->
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th> <!-- Đây là số thứ tự của sản phẩm, không phải số id sản phẩm -->
                <th scope="col">Ảnh</th>
                <th scope="col">Sản Phẩm</th>
                <th scope="col">Số Lượng</th>
                <th scope="col">Giá</th>
                <th scope="col">Ngày Đặt Hàng</th>
                <th scope="col">Ngày Giao Hàng</th>
            </tr>
        </thead>
        <tbody>

            @for (int i = 0; i < cartI.Count; i++)
            {
                product p = pList.FirstOrDefault(x => x.id == cartI[i].id);                
                <tr>
                    <th scope="row">@(i+1)</th>
                    <td><img src="@p.srcImage" alt=""></td>
                    <td>@p.name</td>
                    <td>@cartI[i].count</td>
                    <td>@string.Format("{0:#,##0}", cartI[i].price * cartI[i].count).Replace(".0000", String.Empty) đ</td>
                    <td>@cart.ngaydathang.ToString("dd/MM/yyyy")</td>
                    <td>@cart.ngaygiao.ToString("dd/MM/yyyy")</td>
                </tr>

            }

            
        </tbody>
    </table>
</div>

