@using WebQuanAo.Models;
@{
    ViewBag.Title = "Home Page";
    List<product> product = ViewBag.product;
    List<product> MEN = product.Where(x => x.byHuman == "MEN").ToList();
    List<product> WOMEN = product.Where(x => x.byHuman == "WOMEN").ToList();
    List<product> BOY = product.Where(x => x.byHuman == "BOY").ToList();
    List<product> GIRL = product.Where(x => x.byHuman == "GIRL").ToList();

    bodySave bS = ViewBag.bodySave;

    int menCount = MEN.Count / 4;
    int menCountLeft = MEN.Count % 4;
    if(menCountLeft != 0)
    {
        menCount += 1;
    }

    int womenCount = WOMEN.Count / 4;
    int womenCountLeft = WOMEN.Count % 4;
    if (womenCountLeft != 0)
    {
        womenCount += 1;
    }

    int boyCount = BOY.Count / 4;
    int boyCountLeft = BOY.Count % 4;
    if (boyCountLeft != 0)
    {
        boyCount += 1;
    }

    int girlCount = GIRL.Count / 4;
    int girlCountLeft = BOY.Count % 4;
    if (girlCountLeft != 0)
    {
        girlCount += 1;
    }

}

<div class="Container">
    <!-- Container -->
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <!-- Carousel Banner -->
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="@bS.b1" class="d-block w-100" alt="slideshow1">
            </div>
            <div class="carousel-item">
                <img src="@bS.b2" class="d-block w-100" alt="slideshow2">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div> <!-- End Carousel Banner -->
    <!-- Shop Men's-->
    <div class="Title">
        <!-- Title For List Product -->
        <div class="pt-5">
            <h2>SHOP MEN'S</h2>
            <p>Boasting the biggest heel air bag yet ,bringing you <br> even closer to the feeling of walking on air</p>
        </div>
        <a href="#">Shoes</a>
        <a href="#">Clothing</a>
        <a href="#">Gear</a>
    </div>
    <div id="carouselMenProduct" class="carousel slide container-fluid" data-bs-ride="carousel">
        <!-- Carousel Product -->
        <div class="carousel-inner">
            @for (int i = 0; i < menCount; i++)
            {


                if (i == 0)
                {
                    <div class="carousel-item active">
                        <div class="row row-cols-1 row-cols-md-4 row-cols-sm-2 g-4">

                            @for (int a = 0; a < 4; a++)
                            {
                                <div class="col">
                                    <div class="product card">
                                        <a href="@Url.Action("Product")?id=@MEN[a].id">
                                            <img src="@MEN[a].srcImage" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <p class="card-title">
                                                    <span> @MEN[a].types </span> <br>
                                                    <a href="#">@MEN[a].name</a> <br>
                                                    <span class="price">@string.Format("{0:#,##0.00}", @MEN[a].price).Replace(".00", String.Empty) đ</span>
                                                </p>
                                                @*<div class="Addproduct">
                                                    <a href="#"> Thêm Vào Giỏ </a>
                                                </div>*@
                                            </div>
                                    </div>
                                </div>
                            }




                        </div>
                    </div>
                }
                else
                {
                    if (i == menCount - 1)
                    {
                        <div class="carousel-item">
                            <div class="row row-cols-1 row-cols-md-4 row-cols-sm-2 g-4">

                                @for (int a = i * 4; a < MEN.Count; a++)
                                {
                                    <div class="col">
                                        <div class="product card">
                                            <a href="@Url.Action("Product")?id=@MEN[a].id">
                                                <img src="@MEN[a].srcImage" class="card-img-top" alt="Best Dri-Fit UV protective crew shirt. Look stylish and protected from the sun while playing tennis.">
                                                <div class="card-body">
                                                    <p class="card-title">
                                                        <span> @MEN[a].types </span> <br>
                                                        <a href="#">@MEN[a].name</a> <br>
                                                        <span class="price">@string.Format("{0:#,##0.00}", @MEN[i].price).Replace(".00", String.Empty) đ</span>
                                                    </p>
                                                    @*<div class="Addproduct">
                                                        <a href="#"> Thêm Vào Giỏ </a>
                                                    </div>*@
                                                </div>
                                        </div>
                                    </div>
                                }



                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="carousel-item">
                            <div class="row row-cols-1 row-cols-md-4 row-cols-sm-2 g-4">

                                @for (int a = i*4; a < i * 4 +4; a++)
                                {
                                    <div class="col">
                                        <div class="product card">
                                            <a href="@Url.Action("Product")?id=@MEN[a].id">
                                                <img src="@MEN[a].srcImage" class="card-img-top" alt="Best Dri-Fit UV protective crew shirt. Look stylish and protected from the sun while playing tennis.">
                                                <div class="card-body">
                                                    <p class="card-title">
                                                        <span> @MEN[a].types </span> <br>
                                                        <a href="#">@MEN[a].name</a> <br>
                                                        <span class="price">@string.Format("{0:#,##0.00}", @MEN[i].price).Replace(".00", String.Empty) đ</span>
                                                    </p>
                                                    @*<div class="Addproduct">
                                                        <a href="#"> Thêm Vào Giỏ </a>
                                                    </div>*@
                                                </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    }


                }




            }
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselMenProduct" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselMenProduct" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <!-- Banner Ads -->
    <a href="#"><img class="Ads mt-5 d-block w-100" src="@bS.b3" alt=""></a>
    <!-- End Shop Men's -->
    <!-- Shop Women's -->
    <div class="Title">
        <!-- Title For List Product -->
        <div class="pt-5">
            <h2>SHOP WOMEN'S</h2>
            <p>
                Our ground-breaking running innovation seven years <br>
                in the making undergoes new evolution.
            </p>
        </div>
        <a href="#">Shoes</a>
        <a href="#">Clothing</a>
    </div>
    <div id="carouselWomenProduct" class="carousel slide container-fluid" data-bs-ride="carousel">
        <!-- Carousel Product -->
        <div class="carousel-inner">
            @for (int i = 0; i < womenCount; i++)
            {
                if (i == 0)
                {
                    <div class="carousel-item active">
                        <div class="row row-cols-1 row-cols-md-4 row-cols-sm-2 g-4">

                            @for (int a = 0; a < 4; a++)
                            {
                                <div class="col">
                                    <div class="product card">
                                        <a href="@Url.Action("Product")?id=@WOMEN[a].id">
                                            <img src="@WOMEN[a].srcImage" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <p class="card-title">
                                                    <span> @WOMEN[a].types </span> <br>
                                                    <a href="#">@WOMEN[a].name</a> <br>
                                                    <span class="price">@string.Format("{0:#,##0.00}", WOMEN[a].price).Replace(".00", String.Empty) đ</span>
                                                </p>
                                                @*<div class="Addproduct">
                                                    <a href="#"> Thêm Vào Giỏ </a>
                                                </div>*@
                                            </div>
                                    </div>
                                </div>
                            }




                        </div>
                    </div>
                }
                else
                {
                    if (i == womenCount - 1)
                    {
                        <div class="carousel-item">
                            <div class="row row-cols-1 row-cols-md-4 row-cols-sm-2 g-4">

                                @for (int a = i * 4; a < WOMEN.Count; a++)
                                {
                                    <div class="col">
                                        <div class="product card">
                                            <a href="@Url.Action("Product")?id=@WOMEN[a].id">
                                                <img src="@WOMEN[a].srcImage" class="card-img-top" alt="Best Dri-Fit UV protective crew shirt. Look stylish and protected from the sun while playing tennis.">
                                                <div class="card-body">
                                                    <p class="card-title">
                                                        <span> @WOMEN[a].types </span> <br>
                                                        <a href="#">@WOMEN[a].name</a> <br>
                                                        <span class="price">@string.Format("{0:#,##0.00}", WOMEN[i].price).Replace(".00", String.Empty) đ</span>
                                                    </p>
                                                    @*<div class="Addproduct">
                                                        <a href="#"> Thêm Vào Giỏ </a>
                                                    </div>*@
                                                </div>
                                        </div>
                                    </div>
                                }



                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="carousel-item">
                            <div class="row row-cols-1 row-cols-md-4 row-cols-sm-2 g-4">

                                @for (int a = i * 4; a < i * 4 + 4; a++)
                                {
                                    <div class="col">
                                        <div class="product card">
                                            <a href="@Url.Action("Product")?id=@WOMEN[a].id">
                                                <img src="@WOMEN[a].srcImage" class="card-img-top" alt="Best Dri-Fit UV protective crew shirt. Look stylish and protected from the sun while playing tennis.">
                                                <div class="card-body">
                                                    <p class="card-title">
                                                        <span> @WOMEN[a].types </span> <br>
                                                        <a href="#">@WOMEN[a].name</a> <br>
                                                        <span class="price">@string.Format("{0:#,##0.00}", WOMEN[i].price).Replace(".00", String.Empty) đ</span>
                                                    </p>
                                                    @*<div class="Addproduct">
                                                        <a href="#"> Thêm Vào Giỏ </a>
                                                    </div>*@
                                                </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                }
            }
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselWomenProduct" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselWomenProduct" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div> <!-- End Carousel Product -->
    <!-- Banner Ads -->
    <a href="#"><img class="Ads mt-5 d-block w-100" src="@bS.b4" alt=""></a>
    <!-- End Shop Women's-->
    <!-- Shop Boy's -->
    <div class="Title">
        <!-- Title For List Product -->
        <div class="pt-5">
            <h2>SHOP BOY'S</h2>
            <p>
                The Air Max styles kids love—from the ’87 original, Air Max 1, <br>
                to the new larger-than-life Air Max 270.
            </p>
        </div>
        <a href="#">Shoes</a>
        <a href="#">Clothing</a>
    </div>
    <div id="carouselBoyProduct" class="carousel slide container-fluid" data-bs-ride="carousel">
        <!-- Carousel Product -->
        <div class="carousel-inner">
            @for (int i = 0; i < boyCount; i++)
            {
                if (i == 0)
                {
                    <div class="carousel-item active">
                        <div class="row row-cols-1 row-cols-md-4 row-cols-sm-2 g-4">

                            @for (int a = 0; a < 4; a++)
                            {
                                <div class="col">
                                    <div class="product card">
                                        <a href="@Url.Action("Product")?id=@BOY[a].id">
                                            <img src="@BOY[a].srcImage" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <p class="card-title">
                                                    <span> @BOY[a].types </span> <br>
                                                    <a href="#">@BOY[a].name</a> <br>
                                                    <span class="price">@string.Format("{0:#,##0.00}", BOY[a].price).Replace(".00", String.Empty) đ</span>
                                                </p>
                                                @*<div class="Addproduct">
                                                    <a href="#"> Thêm Vào Giỏ </a>
                                                </div>*@
                                            </div>
                                    </div>
                                </div>
                            }




                        </div>
                    </div>
                }
                else
                {
                    if (i == boyCount - 1)
                    {
                        <div class="carousel-item">
                            <div class="row row-cols-1 row-cols-md-4 row-cols-sm-2 g-4">

                                @for (int a = i * 4; a < BOY.Count; a++)
                                {
                                    <div class="col">
                                        <div class="product card">
                                            <a href="@Url.Action("Product")?id=@BOY[a].id">
                                                <img src="@BOY[a].srcImage" class="card-img-top" alt="Best Dri-Fit UV protective crew shirt. Look stylish and protected from the sun while playing tennis.">
                                                <div class="card-body">
                                                    <p class="card-title">
                                                        <span> @BOY[a].types </span> <br>
                                                        <a href="#">@BOY[a].name</a> <br>
                                                        <span class="price">@string.Format("{0:#,##0.00}", BOY[i].price).Replace(".00", String.Empty) đ</span>
                                                    </p>
                                                    @*<div class="Addproduct">
                                                        <a href="#"> Thêm Vào Giỏ </a>
                                                    </div>*@
                                                </div>
                                        </div>
                                    </div>
                                }



                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="carousel-item">
                            <div class="row row-cols-1 row-cols-md-4 row-cols-sm-2 g-4">

                                @for (int a = i * 4; a < i * 4 + 4; a++)
                                {
                                    <div class="col">
                                        <div class="product card">
                                            <a href="@Url.Action("Product")?id=@BOY[a].id">
                                                <img src="@BOY[a].srcImage" class="card-img-top" alt="Best Dri-Fit UV protective crew shirt. Look stylish and protected from the sun while playing tennis.">
                                                <div class="card-body">
                                                    <p class="card-title">
                                                        <span> @BOY[a].types </span> <br>
                                                        <a href="#">@BOY[a].name</a> <br>
                                                        <span class="price">@string.Format("{0:#,##0.00}", BOY[i].price).Replace(".00", String.Empty) đ</span>
                                                    </p>
                                                    @*<div class="Addproduct">
                                                        <a href="#"> Thêm Vào Giỏ </a>
                                                    </div>*@
                                                </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                }
            }
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselBoyProduct" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselBoyProduct" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div> <!-- End Carousel Product -->
    <!-- Banner Ads -->
    <a href="#"><img class="Ads mt-5 d-block w-100" src="@bS.b5" alt=""></a>
    <!-- End Shop Boy's-->
    <!-- Shop Girl's -->
    <div class="Title">
        <!-- Title For List Product -->
        <div class="pt-5">
            <h2>SHOP GIRL'S</h2>
            <p>
                Retro, new or personally customised, <br>
                get the Air Max that’s right for you
            </p>
        </div>
        <a href="#">Shoes</a>
        <a href="#">Clothing</a>
        <a href="#">Gear</a>
    </div>
    <div id="carouselGirlProduct" class="carousel slide container-fluid" data-bs-ride="carousel">
        <!-- Carousel Product -->
        <div class="carousel-inner">
            @for (int i = 0; i < girlCount; i++)
            {
                if (i == 0)
                {
                    <div class="carousel-item active">
                        <div class="row row-cols-1 row-cols-md-4 row-cols-sm-2 g-4">

                            @for (int a = 0; a < 4; a++)
                            {
                                <div class="col">
                                    <div class="product card">
                                        <a href="@Url.Action("Product")?id=@GIRL[a].id">
                                            <img src="@GIRL[a].srcImage" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <p class="card-title">
                                                    <span> @GIRL[a].types </span> <br>
                                                    <a href="#">@GIRL[a].name</a> <br>
                                                    <span class="price">@string.Format("{0:#,##0.00}", GIRL[a].price).Replace(".00", String.Empty) đ</span>
                                                </p>
                                                @*<div class="Addproduct">
                                                    <a href="#"> Thêm Vào Giỏ </a>
                                                </div>*@
                                            </div>
                                    </div>
                                </div>
                            }




                        </div>
                    </div>
                }
                else
                {
                    if (i == girlCount - 1)
                    {
                        <div class="carousel-item">
                            <div class="row row-cols-1 row-cols-md-4 row-cols-sm-2 g-4">

                                @for (int a = i * 4; a < GIRL.Count; a++)
                                {
                                    <div class="col">
                                        <div class="product card">
                                            <a href="@Url.Action("Product")?id=@GIRL[a].id">
                                                <img src="@GIRL[a].srcImage" class="card-img-top" alt="Best Dri-Fit UV protective crew shirt. Look stylish and protected from the sun while playing tennis.">
                                                <div class="card-body">
                                                    <p class="card-title">
                                                        <span> @GIRL[a].types </span> <br>
                                                        <a href="#">@GIRL[a].name</a> <br>
                                                        <span class="price">@string.Format("{0:#,##0.00}", GIRL[i].price).Replace(".00", String.Empty) đ</span>
                                                    </p>
                                                    @*<div class="Addproduct">
                                                        <a href="#"> Thêm Vào Giỏ </a>
                                                    </div>*@
                                                </div>
                                        </div>
                                    </div>
                                }



                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="carousel-item">
                            <div class="row row-cols-1 row-cols-md-4 row-cols-sm-2 g-4">

                                @for (int a = i * 4; a < i * 4 + 4; a++)
                                {
                                    <div class="col">
                                        <div class="product card">
                                            <a href="@Url.Action("Product")?id=@GIRL[a].id">
                                                <img src="@GIRL[a].srcImage" class="card-img-top" alt="Best Dri-Fit UV protective crew shirt. Look stylish and protected from the sun while playing tennis.">
                                                <div class="card-body">
                                                    <p class="card-title">
                                                        <span> @GIRL[a].types </span> <br>
                                                        <a href="#">@GIRL[a].name</a> <br>
                                                        <span class="price">@string.Format("{0:#,##0.00}", GIRL[i].price).Replace(".00", String.Empty) đ</span>
                                                    </p>
                                                    @*<div class="Addproduct">
                                                        <a href="#"> Thêm Vào Giỏ </a>
                                                    </div>*@
                                                </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                }
            }
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselGirlProduct" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselGirlProduct" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div> <!-- End Carousel Product -->
    <!-- End Shop Girl's-->
